pyrogram
tgcrypto
pymongo
motor
marshmallow
umongo
requests
bs4
git+https://github.com/Joelkb/cinemagoer
shortzy
datetime
pytz
aiohttp

openai

gTTS

telegraph

#---ytdl----# 
youtube-search-python
youtube-search 
yt-dlp==2023.2.17

#---fromproff---#
opencv-python-headless
googletrans
aiofiles

dnspython
wget
ujson
Pillow
psutil
NumPy
wheel
pyromod 
speedtest-cli


